@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@tailwind components;
@tailwind utilities;

:root {
  /* The intrinsic width of the underline stroke (in pixels). This is 
   * the same as the height of the cap images. Don't specify the
   * units! This is because of some of the calculations we do later on. */
  --underline-intrinsic-width: 14;

  /* The actual width of the underline stroke we want to render (in pixels).
   * You can modify this, and the sizing and positioning should be calculated
   * accordingly. Again, Don't specify the units! */
  --underline-width: 18;

  /* The colour used to draw the underline. It should match the colour
   * used in the cap images... unfortunately we can't modify the SVG
   * fill via CSS because it's a background image. */
  --underline-color: #EB2D3E;

  /* We need to know the width of the cap images so that we
   * can position everything on the x axis accordingly. */
  --underline-cap-width: 0px;

  /* The border is positioned relative to the bottom of the line.
   * We can move it upwards a little to create an overlap effect. */
  --underline-offset-y: -3px;

  /* The padding to add to the x axis. By default, the caps would be
   * aligned with the beginning and end of the line. */
  --underline-padding-x: 0.12em;

  /* The cap images to use that form the left and right rounded
   * shape. I guess these could be any shape, they don't
   * necessarily have to be round 🙂.
   */
  --cap-image-left: none;
  --cap-image-right: none;
}

@responsive {
  .h-25vh {
    height: 25vh;
  }
  .h-50vh {
    height: 50vh;
  }
  .h-75vh {
    height: 75vh;
  }
}

body {
  @apply text-lg;
}

p span {
  @apply pb-4 block;
}

.section {
  @apply flex flex-col relative px-8 md:pl-32 py-20 md:pr-32;
}

/* title base */

.title strong {
  display: inline;
  --underline-width-scale: calc(
    var(--underline-width) / var(--underline-intrinsic-width)
  );
  padding: 0
    calc(
      var(--underline-padding-x) +
        calc(var(--underline-cap-width) * var(--underline-width-scale))
    );
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      var(--underline-color),
      var(--underline-color)
    ),
    var(--cap-image-left), var(--cap-image-right);
  background-position-x: calc(
      var(--underline-cap-width) * var(--underline-width-scale)
    ),
    0, 100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size: calc(
        100% -
          calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)
      )
      calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);
}

.heading--2 {
  --underline-width: 8;
  --underline-offset-y: -2px;
}

.title {
  @apply text-4xl lg:text-5xl uppercase relative leading-none;
  
}

/* 
.title strong {
  @apply relative z-10 inline-block;
}

.title strong:after {
  content: "";
  @apply absolute -right-1 -left-1 h-3 bg-primary bottom-2;
  z-index: -1;
} */

/* small title */
.title.sm {
  @apply text-3xl;
}


/* .title.sm strong:after {
  content: "";
  @apply absolute -right-1 -left-1 h-2 bg-primary;
  bottom: 4px;
  z-index: -1;
} */

/* large title */
.title.lg {
  @apply text-6xl;
}

/* .title.lg strong:after {
  content: "";
  @apply absolute -right-1 -left-1 h-5 bg-primary -bottom-1;
  z-index: -1;
} */


/*  subtitle */
.subtitle {
  @apply text-2xl lg:text-3xl text-primary font-bold;
}

.subtitle.sm {
  @apply text-xl;
}

.button {
  @apply px-4 py-2 bg-primary text-lg font-bold uppercase text-white rounded-lg;
}


/* quotes */
blockquote {
  @apply relative text-secondary text-xl font-bold italic p-10;
}

blockquote.card {
  @apply p-12 bg-white;
}

blockquote span {
  @apply block w-full text-right;
}


blockquote:before {
  content: "";
  @apply absolute top-0 left-0 w-8 h-8 border-l-4 border-t-4 border-solid border-secondary;
}

blockquote.card:before {
  @apply top-2 left-2; 
}

blockquote:after {
  content: "";
  @apply absolute bottom-0 right-0 w-8 h-8 border-r-4 border-b-4 border-solid border-secondary;
}

blockquote.card:after {
  @apply bottom-2 right-2;
}

/* Lists */
ol.list {
  list-style: none;
  counter-reset: li;
}

ol.list li {
  @apply text-2xl block mb-8;
  counter-increment: li;
}

ol.list li::before {
  content: counter(li);
  @apply text-secondary font-bold text-4xl -ml-4 pr-2 inline-block;
}


ol.list.step {
 @apply flex flex-col;
}

ol.list.step li {
  @apply top-8;
}

ol.list.step li::before {
  content: "STEP " counter(li) !important;
}

.video-frame {
  padding-bottom: 56.67%;
  width: 100%;
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.pattern-plus {
  background-image: url(../images/plus.png);
  background-size: 3rem;
}

.pattern-plus-alt {
  background-image: url(../images/plus-alt.png);
  background-size: 3rem;
}

.pattern-x {
  background-image: url(../images/x.png);
  background-size: 3rem;
}
.pattern-x-alt {
  background-image: url(../images/x-alt.png);
  background-size: 3rem;
}

.pattern-chevron {
  background-image: url(../images/chevron.png);
  background-size: 3rem;
}
.pattern-chevron-alt {
  background-image: url(../images/chevron-alt.png);
  background-size: 3rem;
}

.pattern-dash {
  background-image: url(../images/dash.png);
  background-size: 3rem;
}
.pattern-dash-alt {
  background-image: url(../images/dash-alt.png);
  background-size: 3rem;
}

.pattern-right {
  background-image: url(../images/right.png);
  background-size: 3rem;
}
.pattern-right-alt {
  background-image: url(../images/right-alt.png);
  background-size: 3rem;
}

._form_23 {
  width: 100% !important;
  margin: 0px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0px !important;
}